[tools]
rust = "latest"
"cargo:blue-build" = "latest"

[tasks.build]
run = "bluebuild build recipes/recipe.yml"

[tasks.switch]
run = "bluebuild switch recipes/recipe.yml"

[tasks.bootc]
run = [
#    "podman image save localhost/bazzite-atty:latest | sudo podman image load",
    "mkdir -p output",
    """sudo podman run --rm -it --privileged --pull=newer --security-opt label=type:unconfined_t -v ./config.toml:/config.toml:ro -v ./output:/output -v /var/lib/containers/storage:/var/lib/containers/storage \
         quay.io/centos-bootc/bootc-image-builder:latest --type qcow2 --rootfs btrfs $CONTAINER_IMAGE""",
    "sudo cp -av output/qcow2/disk.qcow2 /var/lib/libvirt/images/",
    "sudo chown qemu:qemu /var/lib/libvirt/images/disk.qcow2",
    "sudo restorecon -v /var/lib/libvirt/images/disk.qcow2",
]
env = { CONTAINER_IMAGE = "localhost/bazzite-atty:latest" }
