[tools]
rust = "latest"
"cargo:blue-build" = "latest"

[tasks.build]
run = "bluebuild build recipes/recipe.yml"

[tasks.switch]
run = "bluebuild switch recipes/recipe.yml"

[tasks.bootc]
run = [
    "podman image save localhost/bazzite-atty:latest | sudo podman image load",
    "mkdir -p output",
    """sudo podman run --rm -it --privileged --pull=newer --security-opt label=type:unconfined_t -v ./config.toml:/config.toml:ro -v ./output:/output -v /var/lib/containers/storage:/var/lib/containers/storage \
         quay.io/centos-bootc/bootc-image-builder:latest --type qcow2 --rootfs btrfs $CONTAINER_IMAGE""",
    "sudo chown $(id -u):$(id -g) output/qcow2/disk.qcow2",
]
env = { CONTAINER_IMAGE = "localhost/bazzite-atty:latest" }

[tasks.qemu]
run = "qemu-system-x86_64 --enable-kvm -m 4096 -cpu host -smp 4 -drive file=./output/qcow2/disk.qcow2,if=virtio,format=qcow2 -device virtio-vga-gl -display gtk,gl=on"
